* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color_of_Cards: white;
    --SHADOw: -2px 5px 4px #000;
    --SHADOFONT: -2px 2px 5px #000;
    --SHADODROPBOX: drop-shadow(8px 8px 20px #000);
    --SMOOTHTRANSITION: cubic-bezier(0.86, -0.1, 0.27, 1.15);
    --size: 1.5rem;
    --radius: 0.3em;
    --tspeed_fast: 150ms;
    --tspeed_slow: 450ms;
}

html{scroll-behavior: smooth;}




.header{
    display: flex;
    justify-content: space-evenly;
    min-height: 10vh;
    background-color: black;
    padding: 1em;
 
}

.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.header__nav__a{
    position: relative;
    padding: 0 10px;
    text-decoration: none;
    color: darkgray;
    text-align: center;
    letter-spacing: 0.5px;
}
.header__nav__a:hover{
    color: whitesmoke
}


.header__nav__a::after{
    content: '';
    position: absolute;
    background-color: whitesmoke;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: all 0.5s ease;
}

.header__nav__a:hover::after{
    width: 100%;
}



.header__input{
    min-height: 25px;
    max-height: 35px;
    min-width: 10px;
    margin-top: 0.5rem;
    border-radius: 10px;
    border: 2px solid #ddd;
    background-repeat: no-repeat;
}
.header__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

.main{
    display: grid;
    height: 150vh;
    padding: 2em;
}

.form{
    place-self: center;
    box-shadow: var(--SHADOw);
    max-width: calc(var(--size) * 20);
    font-size: var(--size);
    text-align: left;
    padding-block: 0.5em;
    border-radius: var(--radius);
    padding-inline: 6em;
}

.form__title{
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 6em;    
}


.form__title:hover {
    filter: var(--SHADODROPBOX);
    border-radius: 3em;
    transform: scale3d(1.05, 1.05, 1.05);
    transition: all 0.5s ease;
}

.form__input{
    position: relative;
     display: grid;
    gap: 0.3em;
    margin-block-start: 2em;
}

.form__label {
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.05em;
    margin-inline: 0.45em;
    position: absolute;

}


.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3em;
    background-color: black;

}
.footer__ul{
    list-style-type: none;    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;
}

.footer__ul__image{
    list-style-type: none;    
    display: grid;
  
    gap: 1em;
}

.footer__ul__title{
    font-weight: bold;
    color: white;
    margin-bottom: 1em;
}
.footer__ul__a{
    text-decoration: none;
    color: darkgray;
    font-weight: bold;
    padding: 0.5em;
    background-color: black;
    border-radius: 10px;
}


.footer__ul__a:hover{
    color: whitesmoke;
}

.footer__ul__a__img{
    border-radius: 10px;
    background-color: whitesmoke;
}