* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color_of_Cards: white;
    --SHADOw: -2px 5px 4px #000;
}

html{scroll-behavior: smooth;}




.header{
    display: flex;
    justify-content: space-evenly;
    min-height: 10vh;
    background-color: black;
    padding: 1em;
 
}

.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.header__nav__a{
    position: relative;
    padding: 0 10px;
    text-decoration: none;
    color: darkgray;
    text-align: center;
    letter-spacing: 0.5px;
}
.header__nav__a:hover{
    color: whitesmoke
}


.header__nav__a::after{
    content: '';
    position: absolute;
    background-color: whitesmoke;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: all 0.5s ease;
}

.header__nav__a:hover::after{
    width: 100%;
}



.header__input{
    min-height: 25px;
    max-height: 35px;
    min-width: 10px;
    margin-top: 0.5rem;
    border-radius: 10px;
    border: 2px solid #ddd;
    background-repeat: no-repeat;
}
.header__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

.main{
    height: 300vh;
    padding: 2em;
}

.product__name{
    align-self: center;
}


.container__image{
    margin: 3em;

}
.container__cart{
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2em;
}
.container__cart__title{
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    margin-top: 0.6rem;
}
.container{
    display: flex;    
    flex-direction: column;
    gap: 5em;
    background-color: whitesmoke;
    height: 80vh;
}

.container__image{
    align-self: center;
}

.container__div__title {
    font-size: 1.6em;
    font-weight: bold;
    color: black;
    margin-bottom: 1rem;
}

.container_div__ul1{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.5em;
    align-content: flex-start;
    list-style: none;
}

.container__dimensions__title{
    font-size: 1.9em;
    font-weight: bold;
    color: black;
    margin-bottom: 1rem;
}

.container_div__ul2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5em;
    align-content: flex-start;
    list-style: none;
}

.container_div__ul__li_wordstyle{
    font-weight: bold;
    border-bottom: 0.0725rem solid #e0e4e3;
    padding-bottom: 0.1rem;
    width: 190px;
}


.row-border{
    border-top: 1px solid black;
    grid-column: 1 / 5;
}


.container__cart{
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 1em;
}
.main__container__button_favorite{
    text-align: center;
   text-decoration: none;
   background-color: white;
   color: black;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   padding: 1.4em;
   margin-right: 1em;
}
.main__container__button_cart{
    border-radius: 10px;
        background-color: white;
    color: black;
    cursor: pointer;
    border: none;
    text-align: center;
   text-decoration: none;
   padding: 1.4em;
}

.main__container__button_cart:hover{
    background-color: black;
    color: whitesmoke;
}

.main__container__button_favorite:hover{
   color: red;
}
.main__container__button_favorite:active{
    font-weight: bold;
   transform: scale(0.9);
}
.main__container__button_cart:active{
    font-weight: bold;
   transform: scale(0.9);
}

.container_div__ul__li__p{
    position: relative;
    bottom: 1.3em;
    padding: 0;
    margin: 0;
}



.footer{
    padding: 3em;
    background-color: black;

}
.footer__ul{
    list-style-type: none;    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;
}

.footer__ul__a{
    text-decoration: none;
    color: darkgray;
    font-weight: bold;
    padding: 0.5em;
    background-color: black;
    border-radius: 10px;
}


.footer__ul__a:hover{
    color: whitesmoke;
}